{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ flight.id_vuelo }}</h5>
        <h5>Flight operated by: {{ flight.codigo_IATA_aerolinea_vuelo.nombre_aerolinea }}</h5>
        <br>
        <p class="card-text">Departure: {{ flight.fecha_salida }} - {{ flight.id_pais_aeropuerto_salida.nombre_pais }}, {{ flight.id_ciudad_aeropuerto_salida.nombre_ciudad }} ({{ flight.codigo_IATA_aeropuerto_salida.nombre_aeropuerto }} - {{ flight.codigo_IATA_aeropuerto_salida.codigo_IATA_aeropuerto }})</p>
        <p class="card-text">Arrival: {{ flight.fecha_llegada }} - {{ flight.id_pais_aeropuerto_llegada.nombre_pais }}, {{ flight.id_ciudad_aeropuerto_llegada.nombre_ciudad }} ({{ flight.codigo_IATA_aeropuerto_llegada.nombre_aeropuerto }} - {{ flight.codigo_IATA_aeropuerto_salida.codigo_IATA_aeropuerto }})</p>
        <p class="card-text">{{ flight.categoria_vuelo }}</p>
        <p class="card-text">
          {% if user.is_authenticated %}
          <a href="{% url 'bookflight' flight.id_vuelo %}" class="btn btn-primary">Book Flight</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}